.container {
    display: flex;
}

.div1,
.div2 {
    width: 200px;
    height: 200px;
    background-color:gray;
    margin: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
}

.div1.visible,
.div2.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}